# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/FrontTheScene/node_modules
/FrontTheScene/.pnp
/FrontTheScene/.pnp.js

# testing
/coverage

# production
FrontTheScene/build
/Django/build

# misc
.DS_Store
/FrontTheScene/.env.local
/FrontTheScene/.env.development.local
/FrontTheScene/.env.test.local
/FrontTheScene/.env.production.local
/FrontTheScene/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#vscode 
/.vscode