.dashboard-profile {
  background-color: #0e1620;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard-profile .div {
  background-color: #0e1620;
  height: 1365px;
  position: relative;
  width: 1920px;
}

.dashboard-profile .overlap {
  height: 1365px;
  left: 0;
  position: absolute;
  top: 0;
  width: 274px;
}

.dashboard-profile .rectangle {
  background-color: #21354b;
  border-radius: 0px 30px 30px 0px;
  height: 1365px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;
}

.dashboard-profile .left-bar {
  height: 1248px;
  left: 2px;
  position: absolute;
  top: 52px;
  width: 272px;
}

.dashboard-profile .home {
  background-color: #21354b;
  height: 61px;
  left: 0;
  position: absolute;
  top: 205px;
  width: 270px;
}

.dashboard-profile .group {
  height: 38px;
  left: 50px;
  position: relative;
  top: 14px;
  width: 128px;
}

.dashboard-profile .text-wrapper {
  color: #d0cece;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 87px;
}

.dashboard-profile .iconly-bold-home {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.dashboard-profile .my-learning {
  height: 33px;
  left: 47px;
  position: absolute;
  top: 332px;
  width: 192px;
}

.dashboard-profile .div-wrapper {
  height: 30px;
  left: 43px;
  position: absolute;
  top: 3px;
  width: 151px;
}

.dashboard-profile .text-wrapper-2 {
  color: #d0cece;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 149px;
}

.dashboard-profile .iconly-light-outline {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.dashboard-profile .categories {
  height: 37px;
  left: 50px;
  position: absolute;
  top: 442px;
  width: 163px;
}

.dashboard-profile .text-wrapper-3 {
  color: #d0cece;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 120px;
}

.dashboard-profile .img {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.dashboard-profile .course-cart {
  height: 36px;
  left: 50px;
  position: absolute;
  top: 552px;
  width: 195px;
}

.dashboard-profile .text-wrapper-4 {
  color: #d0cece;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 153px;
}

.dashboard-profile .group-2 {
  height: 36px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 36px;
}

.dashboard-profile .settings {
  height: 61px;
  left: 1px;
  position: absolute;
  top: 670px;
  width: 179px;
}

.dashboard-profile .text-wrapper-5 {
  color: #21b573;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 92px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 85px;
}

.dashboard-profile .iconly-light-outline-2 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 83px;
}

.dashboard-profile .setting {
  height: 34px;
  left: 51px;
  position: absolute;
  top: 9px;
  width: 32px;
}

.dashboard-profile .rectangle-2 {
  background-color: #21b573;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.dashboard-profile .sign-out {
  height: 33px;
  left: 50px;
  position: absolute;
  top: 1215px;
  width: 130px;
}

.dashboard-profile .text-wrapper-6 {
  color: #e86e6e;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 87px;
}

.dashboard-profile .iconly-light-outline-3 {
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.dashboard-profile .codelord-logo {
  color: transparent;
  font-family: "KoHo-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 217px;
}

.dashboard-profile .span {
  color: #d8ebff;
}

.dashboard-profile .header {
  background-color: transparent;
  height: 54px;
  left: 409px;
  position: absolute;
  top: 14px;
  width: 1488px;
}

.dashboard-profile .search {
  background-color: #0c0c0c;
  border-radius: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 438px;
}

.dashboard-profile .group-3 {
  height: 33px;
  left: 18px;
  position: relative;
  top: 9px;
  width: 333px;
}

.dashboard-profile .search-courses {
  background: transparent;
  border: none;
  color: #d0cece;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 6px;
}

.dashboard-profile .iconly-light-outline-4 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.dashboard-profile .user {
  height: 50px;
  left: 1166px;
  position: absolute;
  top: 0;
  width: 322px;
}

.dashboard-profile .profile {
  background-color: #141414;
  border-radius: 10px;
  height: 50px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 262px;
}

.dashboard-profile .group-4 {
  height: 40px;
  left: 13px;
  position: absolute;
  top: 5px;
  width: 129px;
}

.dashboard-profile .allura-avatar {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 47px;
}

.dashboard-profile .allura-avatar-2 {
  background-color: #1984ff;
  border-radius: 9.59px;
  height: 40px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 42px;
}

.dashboard-profile .text-wrapper-7 {
  color: #d0cece;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 60px;
  letter-spacing: -0.45px;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.dashboard-profile .icon-chevron-left {
  height: 12px;
  left: 238px;
  position: absolute;
  top: 21px;
  width: 12px;
}

.dashboard-profile .notification {
  height: 40px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 32px;
}

.dashboard-profile .overlap-group {
  height: 40px;
  position: relative;
}

.dashboard-profile .iconly-light-outline-5 {
  height: 37px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 32px;
}

.dashboard-profile .ellipse {
  background-color: #ee0000;
  border-radius: 4.5px;
  height: 9px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 9px;
}

.dashboard-profile .form {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  left: 732px;
  position: absolute;
  top: 306px;
}

.dashboard-profile .form-2 {
  height: 816px;
  position: relative;
  width: 423px;
}

.dashboard-profile .country {
  height: 75px;
  left: 0;
  position: absolute;
  top: 501px;
  width: 423px;
}

.dashboard-profile .input {
  background-color: #d0cece;
  border: 1px solid;
  border-color: #b2b2b2;
  border-radius: 8px;
  height: 46px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 423px;
}

.dashboard-profile .icon {
  height: 16px;
  left: 390px;
  position: absolute;
  top: 15px;
  width: 16px;
}

.dashboard-profile .text {
  align-items: flex-start;
  display: inline-flex;
  left: 17px;
  position: absolute;
  top: 13px;
}

.dashboard-profile .text-wrapper-8 {
  color: #d0cece;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-profile .text-wrapper-9 {
  color: #d0cece;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.dashboard-profile .overlap-2 {
  height: 226px;
  left: 0;
  position: absolute;
  top: 217px;
  width: 423px;
}

.dashboard-profile .date-time {
  height: 75px;
  left: 0;
  position: absolute;
  top: 151px;
  width: 423px;
}

.dashboard-profile .date {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.dashboard-profile .label {
  height: 21px;
  position: relative;
  width: 200.92px;
}

.dashboard-profile .overlap-group-2 {
  height: 21px;
  position: relative;
  top: -2px;
  width: 181px;
}

.dashboard-profile .info-icon {
  height: 20px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 20px;
}

.dashboard-profile .text-wrapper-10 {
  color: #d0cece;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  width: 181px;
}

.dashboard-profile .input-2 {
  align-items: center;
  background-color: #d0cece;
  border: 1px solid;
  border-color: #b2b2b2;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 52.92px;
  padding: 13px 17px;
  position: relative;
  width: 422px;
}

.dashboard-profile .text-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.dashboard-profile .icon-2 {
  height: 16px;
  position: relative;
  width: 16px;
}

.dashboard-profile .welcome-message {
  height: 163px;
  left: 0;
  position: absolute;
  top: 0;
  width: 423px;
}

.dashboard-profile .langauge {
  height: 75px;
  position: relative;
  top: 18px;
}

.dashboard-profile .text-wrapper-11 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 109px;
}

.dashboard-profile .name {
  height: 75px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 423px;
}

.dashboard-profile .text-wrapper-12 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 393px;
}

.dashboard-profile .overlap-group-wrapper {
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 423px;
}

.dashboard-profile .overlap-group-3 {
  height: 20px;
  position: relative;
  top: -2px;
  width: 65px;
}

.dashboard-profile .info-icon-2 {
  height: 20px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 20px;
}

.dashboard-profile .text-wrapper-13 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 54px;
}

.dashboard-profile .avatar {
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 423px;
}

.dashboard-profile .remove {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  left: 203px;
  position: absolute;
  top: 35px;
}

.dashboard-profile .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-profile .update {
  align-items: flex-start;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 40px;
  display: inline-flex;
  left: 114px;
  padding: 6px 13.27px 6px 12px;
  position: absolute;
  top: 29px;
}

.dashboard-profile .allura-avatar-3 {
  height: 90px;
  left: -19px;
  position: absolute;
  top: 5px;
  width: 90px;
}

.dashboard-profile .overlap-wrapper {
  height: 75px;
  left: 0;
  position: absolute;
  top: 634px;
  width: 423px;
}

.dashboard-profile .overlap-3 {
  height: 75px;
  position: relative;
  width: 422px;
}

.dashboard-profile .date-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
}

.dashboard-profile .icon-3 {
  height: 16px;
  left: 385px;
  position: absolute;
  top: 44px;
  width: 16px;
}

.dashboard-profile .actions {
  height: 44px;
  position: relative;
  width: 705px;
}

.dashboard-profile .button {
  all: unset;
  align-items: flex-start;
  background-color: #c84545;
  border: 1px solid;
  border-radius: 40px;
  box-sizing: border-box;
  display: inline-flex;
  left: 573px;
  padding: 12px 18.67px 12px 17px;
  position: absolute;
  top: 0;
}

.dashboard-profile .text-wrapper-15 {
  color: #ffffff;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-profile .button-2 {
  all: unset;
  align-items: flex-start;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 40px;
  box-sizing: border-box;
  display: inline-flex;
  left: 133px;
  padding: 12px 16.53px 12px 17px;
  position: absolute;
  top: 0;
}

.dashboard-profile .button-3 {
  all: unset;
  align-items: flex-start;
  background-color: #0069ff;
  border: 1px solid;
  border-radius: 40px;
  box-sizing: border-box;
  display: inline-flex;
  left: 0;
  padding: 11px 17.58px 11px 18px;
  position: absolute;
  top: 0;
}

.dashboard-profile .text-wrapper-16 {
  color: #ffffff;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-profile .resources {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 409px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 166px;
  width: 425px;
}

.dashboard-profile .links {
  height: 240px;
  left: 409px;
  position: absolute;
  top: 306px;
  width: 215px;
}

.dashboard-profile .text-wrapper-17 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 215px;
}

.dashboard-profile .text-wrapper-18 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 121px;
}
