@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-koho: KoHo;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-11xl: 30px;
  --font-size-xl: 20px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;

  /* Colors */
  --color-mediumseagreen-100: #21b573;
  --color-white: #fff;
  --color-lightsteelblue: #b9cce1;
  --color-lavender-100: #d9ecff;
  --color-lavender-200: rgba(218, 218, 247, 0.5);
  --color-lavender-300: rgba(218, 218, 247, 0.3);
  --color-darkslategray-100: #364c65;
  --color-darkslategray-200: #20344a;
  --color-goldenrod: #fab437;
  --color-lightgray-100: #d0cece;

  /* Paddings */
  --padding-base: 16px;
  --padding-9xl: 28px;

  /* Border radiuses */
  --br-28xl: 47px;
  --br-21xl: 40px;
  --br-mid-5: 17.5px;
  --br-12xs: 1px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-3xs-6: 9.6px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.button-base:hover, .button-base1:hover {
    background-color: #a3aeb8; /* Màu nền khi hover */
  }
.group-cyber-sec-banner-child:hover, .group-frontend-banner-child:hover, .group-backend-banner-child:hover, .group-ai-ml-banner-child:hover,
.group-networking-banner-child:hover {
    background-color: #21B573; /* Màu nền khi hover, ví dụ là màu xanh */
    /* Các thuộc tính khác */
  }
  .all-courses,
  .all-courses1 {
    position: absolute;
    width: 22.81%;
    top: calc(50% - 519.5px);
    left: 19.38%;
    font-size: var(--font-size-31xl);
    line-height: 28px;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
  }
  .all-courses1 {
    top: calc(50% - 66.5px);
  }
  .icon {
    position: absolute;
    top: 229.48px;
    left: 1976.23px;
    width: 380.87px;
    height: 1794.51px;
    object-fit: cover;
    display: none;
  }
  .group-cyber-sec-banner-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray-100);
    border: 2px solid var(--color-lavender-200);
    box-sizing: border-box;
    width: 228.17px;
    height: 220px;
  }
  .group-cyber-sec-banner-item {
    position: absolute;
    top: 38.26px;
    left: 69.2px;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
    width: 89.77px;
    height: 84.35px;
  }
  .icon-lock {
    position: absolute;
    height: 26.66%;
    width: 20.99%;
    top: 21.85%;
    right: 39.51%;
    bottom: 51.49%;
    left: 39.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .cyber-security {
    position: absolute;
    top: 152.17px;
    left: 17.77px;
    line-height: 22px;
    display: inline-block;
    width: 192.64px;
    height: 8.7px;
  }
  .group-cyber-sec-banner,
  .group-frontend-banner-child {
    position: absolute;
    top: 0;
    left: 807.95px;
    width: 228.17px;
    height: 220px;
  }
  .group-frontend-banner-child {
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray-100);
    border: 2px solid var(--color-lavender-200);
    box-sizing: border-box;
    width: 229.11px;
  }
  .front-end {
    position: absolute;
    top: 152.17px;
    left: 47.69px;
    line-height: 22px;
    display: inline-block;
    width: 133.72px;
    height: 16.52px;
  }
  .group-frontend-banner-item {
    position: absolute;
    top: 38.26px;
    left: 70.13px;
    width: 90.08px;
    height: 83.76px;
  }
  .group-backend-banner-child,
  .group-frontend-banner {
    position: absolute;
    top: 0;
    left: 74.81px;
    width: 229.11px;
    height: 220px;
  }
  .group-backend-banner-child {
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslategray-100);
    border: 2px solid var(--color-lavender-200);
    box-sizing: border-box;
    width: 228.17px;
  }
  .group-backend-banner-item {
    position: absolute;
    top: 86.21px;
    left: 178.27px;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
    width: 87.61px;
    height: 86.34px;
    transform: rotate(142.84deg);
    transform-origin: 0 0;
  }
  .back-end {
    position: absolute;
    top: 160px;
    left: 47.69px;
    line-height: 2px;
    display: inline-block;
    width: 133.72px;
    height: 16.52px;
  }
  .layers-icon {
    position: absolute;
    top: 51.3px;
    left: 83.23px;
    width: 61.72px;
    height: 57.39px;
  }
  .group-backend-banner {
    position: absolute;
    top: 0;
    left: 319.81px;
    width: 228.17px;
    height: 220px;
  }
  .group-aiml-banner-item {
    position: absolute;
    top: 91.32px;
    left: 177.05px;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
    width: 88.13px;
    height: 85.81px;
    transform: rotate(147.69deg);
    transform-origin: 0 0;
  }
  .ai-ml {
    position: absolute;
    top: 148.7px;
    left: 0;
    line-height: 30px;
    display: inline-block;
    width: 228.17px;
    height: 16.52px;
  }
  .icon-people-rounded {
    position: absolute;
    height: 20.34%;
    width: 20.99%;
    top: 26.59%;
    right: 39.51%;
    bottom: 53.07%;
    left: 39.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-aiml-banner {
    position: absolute;
    top: 0;
    left: 1052.02px;
    width: 228.17px;
    height: 220px;
  }
  .data-science {
    position: absolute;
    top: 152.17px;
    left: calc(50% - 83.23px);
    line-height: 22px;
    display: inline-block;
    width: 172.06px;
    height: 16.52px;
  }
  .group-datascience-banner-item {
    position: absolute;
    top: 38.26px;
    left: 70.13px;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
    width: 89.77px;
    height: 84.35px;
  }
  .icon-archive {
    position: absolute;
    height: 20.73%;
    width: 21.4%;
    top: 26.59%;
    right: 39.1%;
    bottom: 52.68%;
    left: 39.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-datascience-banner,
  .networking {
    position: absolute;
    top: 0;
    left: 563.88px;
    width: 228.17px;
    height: 220px;
  }
  .networking {
    top: 151.3px;
    left: 40.21px;
    line-height: 22px;
    display: inline-block;
    width: 151.49px;
    height: 16.52px;
  }
  .icon-network-alt {
    position: absolute;
    height: 19.55%;
    width: 18.21%;
    top: 26.59%;
    right: 40.41%;
    bottom: 53.86%;
    left: 41.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-networking-banner {
    position: absolute;
    top: 0;
    left: 1296.08px;
    width: 229.11px;
    height: 220px;
  }
  .arrow-left-icon-1-3,
  .arrow-left-icon-1-4 {
    position: absolute;
    top: 75.65px;
    left: 0;
    width: 74.81px;
    height: 69.57px;
    overflow: hidden;
  }
  .arrow-left-icon-1-3 {
    top: 74.78px;
    left: 1525.19px;
  }
  .group-transition-banner {
    position: absolute;
    top: 306px;
    left: 293px;
    width: 1600px;
    height: 220px;
    text-align: center;
  }
  .group-dev-backend-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslategray-200);
    border: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    width: 509px;
    height: 462px;
  }
  .developing-back-end-apps {
    position: absolute;
    height: 15.25%;
    width: 83.84%;
    top: 25.36%;
    left: 6.93%;
    font-size: var(--font-size-11xl);
    line-height: 40px;
    display: inline-block;
    font-family: var(--font-koho);
  }
  .group-dev-backend-item {
    position: absolute;
    top: 50.6px;
    left: 35.25px;
    border-radius: 50%;
    background-color: var(--color-goldenrod);
    width: 27.41px;
    height: 27.41px;
  }
  .x-lesson {
    position: absolute;
    height: 3.39%;
    width: 20.77%;
    top: 12.22%;
    left: 15%;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
  }
  .group-dev-backend-inner {
    position: absolute;
    top: 59.94px;
    left: 46.02px;
    border-radius: var(--br-12xs);
    width: 7.83px;
    height: 8.74px;
  }
  .line-div {
    position: absolute;
    top: 320.5px;
    left: 33.77px;
    border-top: 1px solid var(--color-lavender-300);
    box-sizing: border-box;
    width: 434.61px;
    height: 1px;
  }
  .skills-youll-gain {
    font-weight: 500;
  }
  .text,
  .text1 {
    line-height: 28px;
  }
  .text {
    position: absolute;
    top: 225px;
    left: 35px;
    font-size: var(--font-size-lg);
    color: var(--color-lightsteelblue);
    display: inline-block;
    width: 445px;
    font-family: var(--font-poppins);
  }
  .text1 {
    position: relative;
  }
  .button-base,
  .rectangle-div {
    position: absolute;
    box-sizing: border-box;
  }
  .button-base {
    height: 12.99%;
    width: 30.02%;
    top: 76.19%;
    right: 63.3%;
    bottom: 10.82%;
    left: 6.68%;
    border-radius: var(--br-28xl);
    background-color: var(--color-mediumseagreen-100);
    box-shadow: var(--shadow-xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-9xl);
    font-size: var(--font-size-3xl);
    color: var(--color-white);
  }
  .rectangle-div {
    top: 47px;
    left: 332px;
    border-radius: var(--br-mid-5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 136px;
    height: 34px;
  }
  .back-end1 {
    position: absolute;
    height: 3.25%;
    width: 20.24%;
    top: 11.9%;
    left: 68.57%;
    line-height: 18px;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
  }
  .rectangle-icon {
    position: absolute;
    top: 341px;
    left: 403px;
    border-radius: var(--br-21xl);
    width: 69px;
    height: 69px;
    object-fit: cover;
  }
  .group-dev-backend {
    position: absolute;
    top: 762px;
    left: 1227px;
    width: 509px;
    height: 462px;
    font-size: var(--font-size-base);
    font-family: var(Inter);
  }
  .group-introduce-front-end-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslategray-200);
    border: 2px solid #3d4e64;
    box-sizing: border-box;
    width: 509px;
    height: 462px;
  }
  .introduction-to-back {
    position: absolute;
    height: 15.25%;
    width: 85%;
    top: 25.36%;
    left: 6.92%;
    font-size: var(--font-size-11xl);
    line-height: 40px;
    display: inline-block;
    font-family: var(--font-koho);
  }
  .group-introduce-front-end-item {
    position: absolute;
    top: 52px;
    left: 35.24px;
    border-radius: 50%;
    background-color: #7f56d9;
    width: 27.41px;
    height: 27.41px;
  }
  .x-lesson1 {
    position: absolute;
    height: 3.39%;
    width: 17.69%;
    top: 12.53%;
    left: 15%;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
  }
  .group-introduce-front-end-inner {
    position: absolute;
    top: 61.33px;
    left: 46px;
    border-radius: var(--br-12xs);
    width: 7.83px;
    height: 8.74px;
  }
  .group-introduce-front-end-child1 {
    position: absolute;
    top: 320.5px;
    left: 33.76px;
    border-top: 1px solid var(--color-lavender-300);
    box-sizing: border-box;
    width: 434.61px;
    height: 1px;
  }
  .group-introduce-front-end-child2 {
    position: absolute;
    top: 47px;
    left: 338px;
    border-radius: var(--br-mid-5);
    border: 2px solid rgba(217, 236, 255, 0.5);
    box-sizing: border-box;
    width: 125px;
    height: 34px;
  }
  .front-end1 {
    position: absolute;
    height: 3.25%;
    width: 15.32%;
    top: 11.69%;
    left: 71.12%;
    line-height: 18px;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
  }
  .group-introduce-front-end-child3 {
    position: absolute;
    top: 347px;
    left: 399px;
    border-radius: var(--br-21xl);
    width: 69px;
    height: 69px;
    object-fit: cover;
  }
  .button-base1 {
    position: absolute;
    height: 12.99%;
    width: 30.02%;
    top: 76.19%;
    right: 63.1%;
    bottom: 10.82%;
    left: 6.88%;
    border-radius: var(--br-28xl);
    background-color: var(--color-mediumseagreen-100);
    box-shadow: var(--shadow-xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-9xl);
    box-sizing: border-box;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
  }
  .group-introduce-front-end {
    position: absolute;
    top: 762px;
    left: 482px;
    width: 509px;
    height: 462px;
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
  }
  .dashboard-categories {
    position: relative;
    background-color: #0e1620;
    width: 100%;
    height: 1365px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-lavender-100);
    font-family: var(--font-poppins);
  }
  