.toggle-icon {
    position: absolute;
    top: 53px;
    left: 1122.67px;
    width: 169.33px;
    height: 54.7px;
    display: none;
  }
  .vector-2-stroke {
    position: absolute;
    height: 0.79%;
    width: 0.34%;
    top: 83.15%;
    right: 3.1%;
    bottom: 16.06%;
    left: 96.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .left-bar-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    background-color: #21354b;
    width: 270px;
    height: 1365px;
  }
  .profile-child {
    position: absolute;
    top: 115px;
    left: 0;
    background-color: var(--color-mediumseagreen);
    width: 6px;
    height: 61px;
  }
  .profile1 {
    position: absolute;
    top: 8px;
    left: 39px;
    display: inline-block;
    width: 87px;
  }
  .iconlyboldhome {
    position: absolute;
    height: 92.31%;
    width: 26.46%;
    top: 0;
    right: 73.54%;
    bottom: 7.69%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .profile-parent {
    position: absolute;
    top: 0;
    left: 52px;
    width: 126px;
    height: 38px;
  }
  .my-learning1,
  .profile {
    position: absolute;
    left: 0;
  }
  .profile {
    top: 271px;
    width: 178px;
    height: 176px;
  }
  .my-learning1 {
    top: 0;
    display: inline-block;
    width: 149px;
  }
  .my-learning-wrapper {
    position: absolute;
    top: 3px;
    left: 43px;
    width: 149px;
    height: 30px;
  }
  .iconlylight-outline3-user {
    position: absolute;
    height: 92.19%;
    width: 20.55%;
    top: 0;
    right: 79.45%;
    bottom: 7.81%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .my-learning {
    position: absolute;
    top: 399px;
    left: 48px;
    width: 192px;
    height: 33px;
    color: var(--color-mediumseagreen);
  }
  .categories1 {
    position: absolute;
    top: 4px;
    left: 41px;
    display: inline-block;
    width: 120px;
  }
  .iconlylight-outlinedocument {
    position: absolute;
    height: 100%;
    width: 20.7%;
    top: 0;
    right: 79.3%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .categories {
    position: absolute;
    top: 494px;
    left: 52px;
    width: 161px;
    height: 36.53px;
  }
  .course-cart1 {
    position: absolute;
    top: 6px;
    left: 40px;
    display: inline-block;
    width: 153px;
  }
  .group-icon {
    position: absolute;
    height: 99.03%;
    width: 18.47%;
    top: -3.68%;
    right: 82.22%;
    bottom: 4.65%;
    left: -0.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .course-cart {
    position: absolute;
    top: 604px;
    left: 52px;
    width: 193px;
    height: 36px;
  }
  .settings1 {
    position: absolute;
    top: 4px;
    left: 41px;
    display: inline-block;
    width: 85px;
  }
  .iconlylight-outlinesetting {
    position: absolute;
    height: 100%;
    width: 25.4%;
    top: 0;
    right: 74.6%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .settings {
    position: absolute;
    top: 736px;
    left: 52px;
    width: 126px;
    height: 34.37px;
  }
  .sign-out1 {
    position: absolute;
    top: 3px;
    left: 41px;
    display: inline-block;
    width: 87px;
  }
  .iconlylight-outlinelogout {
    position: absolute;
    height: 94.41%;
    width: 25%;
    top: 0;
    right: 75%;
    bottom: 5.59%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .sign-out {
    position: absolute;
    top: 1267px;
    left: 52px;
    width: 128px;
    height: 33px;
    color: #e86e6e;
  }
  .lord {
    color: var(--color-mediumseagreen);
  }
  .codelord-logo {
    position: absolute;
    top: 52px;
    left: 28px;
    font-size: var(--font-size-31xl);
    line-height: 35px;
    display: inline-block;
    font-family: var(--font-koho);
    width: 217px;
    height: 32px;
    color: var(--color-lavender-100);
  }
  .left-bar,
  .search-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 1365px;
  }
  .search-child {
    border-radius: 50px;
    background-color: #0d0d0d;
    width: 438px;
    height: 50px;
  }
  .search-courses-documents {
    position: absolute;
    top: 6px;
    left: 53px;
  }
  .iconlylight-outlinesearch {
    position: absolute;
    height: 100%;
    width: 9.67%;
    top: 0;
    right: 90.33%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .search-courses-documents-act-parent {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 331px;
    height: 32.71px;
  }
  .profile-item,
  .search {
    position: absolute;
    top: 4px;
    left: 0;
    width: 438px;
    height: 50px;
  }
  .profile-item {
    top: 0;
    border-radius: 10px;
    background-color: #141414;
    width: 262px;
  }
  .allura-avatar,
  .allura-avatar-icon {
    position: absolute;
    top: 0;
    border-radius: 9.59px;
    height: 40.29px;
  }
  .allura-avatar {
    left: 2.88px;
    background-color: #1a85ff;
    width: 42.2px;
  }
  .allura-avatar-icon {
    left: 0;
    width: 47px;
    object-fit: cover;
  }
  .akwy666 {
    position: absolute;
    top: 8.14px;
    left: 60px;
    letter-spacing: -0.03em;
    font-weight: 600;
  }
  .allura-avatar-parent {
    position: absolute;
    top: 4.86px;
    left: 13px;
    width: 127px;
    height: 40.29px;
  }
  .icon-chevron-left {
    position: absolute;
    top: 21px;
    right: 12px;
    width: 12px;
    height: 12px;
  }
  .profile2 {
    position: absolute;
    top: 0;
    left: 60px;
    width: 262px;
    height: 50px;
  }
  .notification-icon {
    position: absolute;
    height: 80.37%;
    width: 9.94%;
    top: 14%;
    right: 90.06%;
    bottom: 5.63%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .header,
  .user {
    position: absolute;
    top: 0;
    left: 1166px;
    width: 322px;
    height: 50px;
    font-family: var(--font-poppins);
  }
  .header {
    top: 39px;
    left: 372px;
    width: 1488px;
    height: 54px;
    font-size: var(--font-size-mini);
    font-family: var(--font-open-sans);
  }
  .all-courses {
    position: absolute;
    width: 15.99%;
    top: calc(50% - 519.5px);
    left: 19.38%;
    font-size: var(--font-size-31xl);
    line-height: 28px;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
  }
  .group-introduce-front-end-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslategray-200);
    border: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    width: 1386px;
    height: 462px;
  }
  .introduction-to-front-end {
    position: absolute;
    height: 15.37%;
    width: 84.99%;
    top: 25.32%;
    left: 2.53%;
    font-size: var(--font-size-31xl);
    line-height: 40px;
    display: inline-block;
    font-family: var(--font-koho);
  }
  .group-introduce-front-end-item {
    position: absolute;
    top: 52px;
    left: 35.24px;
    border-radius: 50%;
    background-color: var(--color-mediumslateblue);
    width: 27.41px;
    height: 27.41px;
  }
  .x-lessons {
    position: absolute;
    height: 3.46%;
    width: 7.29%;
    top: 12.55%;
    left: 5.48%;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
  }
  .group-introduce-front-end-inner {
    position: absolute;
    top: 61.33px;
    left: 46px;
    border-radius: var(--br-12xs);
    width: 7.83px;
    height: 8.74px;
  }
  .cate-child,
  .line-div {
    position: absolute;
    box-sizing: border-box;
  }
  .line-div {
    top: 320.5px;
    left: 33.76px;
    border-top: 1px solid var(--color-lavender-200);
    width: 434.61px;
    height: 1px;
  }
  .cate-child {
    top: 0;
    left: 0;
    border-radius: var(--br-mid-5);
    border: 2px solid var(--color-lavender-300);
    width: 125px;
    height: 34px;
  }
  .front-end {
    position: absolute;
    height: 44.12%;
    width: 62.4%;
    top: 20.59%;
    left: 19.2%;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
  }
  .cate {
    position: absolute;
    top: 45px;
    left: 1223px;
    width: 125px;
    height: 34px;
    color: var(--color-white);
  }
  .rectangle-icon {
    position: absolute;
    top: 347px;
    left: 1268px;
    border-radius: var(--br-21xl);
    width: 69px;
    height: 69px;
    object-fit: cover;
  }
  .skills-youll-gain {
    font-weight: 500;
  }
  .text,
  .text1 {
    line-height: 28px;
  }
  .text {
    position: absolute;
    top: 194px;
    left: 35px;
    font-size: var(--font-size-lg);
    color: var(--color-lightsteelblue);
    display: inline-block;
    width: 1149px;
    font-family: var(--font-poppins);
  }
  .text1 {
    position: relative;
  }
  .button-base {
    position: absolute;
    height: 12.99%;
    width: 11.03%;
    top: 76.19%;
    right: 86.45%;
    bottom: 10.82%;
    left: 2.53%;
    border-radius: var(--br-28xl);
    background-color: var(--color-mediumseagreen);
    box-shadow: var(--shadow-xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-9xl);
    box-sizing: border-box;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
  }
  .rectangle-div,
  .text2 {
    position: absolute;
    left: 33px;
  }
  .text2 {
    top: 241px;
    font-size: var(--font-size-lg);
    line-height: 28px;
    font-family: var(--font-poppins);
    color: var(--color-lightsteelblue);
    display: inline-block;
    width: 1149px;
  }
  .rectangle-div {
    top: 281px;
    background-color: var(--color-gold);
    width: 500px;
    height: 40px;
  }
  .group-introduce-front-end {
    position: absolute;
    top: 274px;
    left: 372px;
    width: 1386px;
    height: 462px;
    font-size: var(--font-size-base);
    color: var(--color-lavender-100);
    font-family: var(--font-inter);
  }
  .text3 {
    position: absolute;
    top: 241px;
    left: 33px;
    line-height: 28px;
    display: inline-block;
    width: 1149px;
  }
  .introduction-to-back-end,
  .x-lessons1 {
    color: var(--color-lavender-100);
    display: inline-block;
  }
  .introduction-to-back-end {
    position: absolute;
    height: 15.37%;
    width: 84.99%;
    top: 25.32%;
    left: 2.53%;
    font-size: var(--font-size-31xl);
    line-height: 40px;
    font-family: var(--font-koho);
  }
  .x-lessons1 {
    height: 3.46%;
    width: 8.08%;
    top: 12.55%;
    left: 5.48%;
    font-size: var(--font-size-base);
    line-height: 18px;
    font-weight: 500;
    font-family: var(--font-inter);
  }
  .cate1,
  .text4,
  .x-lessons1 {
    position: absolute;
  }
  .cate1 {
    top: 45px;
    left: 1223px;
    width: 125px;
    height: 34px;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .text4 {
    top: 194px;
    left: 35px;
    line-height: 28px;
    display: inline-block;
    width: 1149px;
  }
  .button-base1 {
    position: absolute;
    height: 12.99%;
    width: 11.03%;
    top: 76.19%;
    right: 86.45%;
    bottom: 10.82%;
    left: 2.53%;
    border-radius: var(--br-28xl);
    background-color: var(--color-mediumseagreen);
    box-shadow: var(--shadow-xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-9xl);
    box-sizing: border-box;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .group-introduce-back-end-child3 {
    position: absolute;
    top: 281px;
    left: 34px;
    background-color: var(--color-gold);
    width: 1000px;
    height: 40px;
  }
  .group-introduce-back-end {
    position: absolute;
    top: 815px;
    left: 372px;
    width: 1386px;
    height: 462px;
    font-size: var(--font-size-lg);
    color: var(--color-lightsteelblue);
  }
  .dashboard-my-learning {
    position: relative;
    background-color: #0e1620;
    width: 100%;
    height: 1365px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-lightgray);
    font-family: var(--font-poppins);
  }
  